* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1e3a8a;
  --text-color: #f8fafc;
}

body {
  background-color: rgba(0, 0, 0, 0.892);

}

.main_section {
  width: 100%;
  /* 100% HA WIDTH GHENAR */
  height: auto;
  /* AANI HYACHI HEIGHT AASNAR 100vh */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  /* MAIN SECTION CH POSITION REALTIVE KELI */
}

.first_section {
  width: 70%;
  height: 25vh;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* FIXED AT ON POSITION */
  position: sticky;
  top: 0%;
  /* FOR ADJUSTING THE INDEXING */
  z-index: 10;
}

h1 {
  color: var(--text-color);
}

/* DONE WITH MEDIA */

.form {
  width: 80%;
  height: auto;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.input {
  width: 67%;
  height: 7vh;
  /* background-color: red; */
  border-radius: 5px;
}

/* DONE WITH MEDIA */
.input::placeholder {
  text-align: center;
  font-size: larger;
}

.two_btn {
  width: 30%;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.find_btn {
  width: 30%;
  height: auto;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 0px 12px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: var(--background-color);
  border-color: var(--text-color);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  min-width: 50px;
}

.find_btn:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  border-color: var(--background-color);
  transition-duration: 0.1s;
}

.add_stud_btn {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  padding: 0px 12px 0px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: green;
  border-color: var(--text-color);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;
  text-align: center;
}

.add_stud_btn:hover {
  color: green;
  background-color: #ffffff;
  border-color: #ffffff;
  transition-duration: 0.1s;
}

/* TAKING INPUT FROM USER THROUGH FORM */
.main_sec {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.892);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.takingDetails {
  width: 50%;
  height: auto;
  background-color: var(--background-color);
  color: #f8fafc;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

.subTaking {
  /* background-color: red; */
  width: 80%;
  height: auto;
}

.name {
  width: 100%;
  margin: 10px 0px;
}

.heading {
  text-decoration: 2px underline var(--text-color);
}

.submit_Btn {
  width: 20%;
  height: auto;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 0px 12px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: green;
  border-color: var(--text-color);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;
}

/* OUTPUT SECTION: */
.studDetails {
  width: 70%;
  height: auto;
  /* background-color:rgba(0, 0, 0, 0.892); */
  border-radius: 6px;
}

.subSection {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 10px 0px 5px 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 2em;
}

.head {
  background-color: var(--text-color);
  color: var(--background-color);
}

.marks_body {
  padding: 20px 0px 20px 20px;
  /* background-color: red; */
}

.sName {
  text-decoration: 1px underline var(--background-color);
}

/* MEDIA QUERY */
/* ALWAYS WRITE THE MEDIA QUERY IN INCREASING -> DECREASING ORDER */
@media (max-width:1200px) {
  .first_section {
    width: 70%;
    height: auto;
    padding: 16px 8px;
  }

  h1 {
    font-size: 32px;
  }

  .form {
    width: 100%;
    /* flex-direction: column; */
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
  }

  .input {
    width: 85%;
    height: 42px;
  }

  .two_btn {
    width: 30%;
    height: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }

  .takingDetails {
    width: 75%;
    padding: 20px 12px;
  }

  .subTaking {
    width: 100%;
  }

  .studDetails {
    width: 70%;
  }
}

@media (max-width:992px) {
  .first_section {
    width: 70%;
    height: auto;
    padding: 16px 8px;
  }

  h1 {
    font-size: 32px;
  }

  .form {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
  }

  .input {
    width: 70%;
    height: 42px;
  }

  .two_btn {
    width: 30%;
    height: auto;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }

  .takingDetails {
    width: 70%;
    padding: 20px 12px;
  }

  .subTaking {
    width: 100%;
  }

  .studDetails {
    width: 70%;
  }
}

@media (max-width:928px) {
  .studDetails {
    width: 70%;
  }

  .input {
    width: 60%;
    height: 42px;
  }

  .two_btn {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width:732px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width:729px) {
  .head {
    font-size: 14px;
  }
}

@media (max-width:712px) {
  .input {
    width: 50%;
    height: 42px;
  }

  .two_btn {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .studDetails {
    width: 70%;
  }

  #seatNo {
    font-size: 20px;
  }
}

@media (max-width:688px) {
  h1 {
    font-size: 42px;
  }

}

@media (max-width:682px) {
  .input {
    width: 60%;
    height: 42px;
  }

  .head {
    font-size: 13px;
  }
}

@media (max-width:670px) {
  .form {
    width: 100%;
    flex-direction: column;
  }

  .input {
    width: 100%;
    height: 42px;
  }

  .two_btn {
    width: 100%;
    margin-top: -18px;
  }

  .find_btn {
    width: 45%;
  }

  .add_stud_btn {
    width: 45%;
  }
}

@media (max-width:643px) {
  h1{
    font-size: 26px;
  }
}

@media (max-width:360px) {
  h1{
    font-size: 14px;
  }
  .input {
    width: 100%;
    height: 30px;
  }
}